{% extends "topics/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<!----------Error Messages---------------->
<div>
    {% if form.errors %}
    <div class="row ">
        <div class="col-md-12">
            <div class="errormsg">
                {% for field in form %}
                {% for error in field.errors %}
                <p>
                    <center> {{ error }} </center>
                </p>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <p>
                    <center> {{ error }} </center>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
<!----------/Error Messages---------------->
<div class="container" id="loginbox">

                <form method="post">
                    {% csrf_token %}
                    <div class="row loginform">
                        <div class="col-lg-10 col-offset-1">
                            <div class="form-group">
                                <label for="usr">Username</label>
                                {{ form.username|add_class:"form-control" }}
                            </div>
                        </div>

                        <div class="col-lg-10 col-offset-1">
                            <div class="form-group">
                                <label for="usr">Password</label>
                                {{ form.password|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <h6 class="fg_pass"><a href="{% url 'password_reset' %}">Forgot Password?</a></h6>
                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-info mainbutton">Sign In</button>
                        </div>
                    </div>
                </form>
           
</div>

{% endblock %}