{% extends "topics/base.html" %}
{% block content %}

<div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
<div class="card card-login card-hidden">
        <div class="card-header card-header-primary text-center">
            <h4 class="card-title">Email Sent</h4>
            <p class="card-description text-center" style="color:#ffffff;">Your password has been changed</p>
        </div>
        
        <p class="text-center"><a href="{% url 'login' %}" class="fgpass">Sign in Here!</a></p>
</div>
</div>
{% endblock %}