{% extends "topics/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
		
<form id="reset_form" method="POST">
	{% csrf_token %}
	<div class="card card-login card-hidden">
		
		<div class="card-header card-header-primary text-center">
			<h4 class="card-title">Reset Password</h4>
				<p class="card-description text-center" style="color:#ffffff;">Set a new password</p>
						<div class="toooltip">Password Guidelines
						</div>				
		</div>
				
		<div class="card-body ">
				<span class="bmd-form-group">
					<div class="input-group">
						<div class="input-group-prepend">
						<span class="input-group-text">
						<i class="material-icons">lock_outline</i>
						</span>
						</div>
						{{ form.new_password1|add_class:"form-control"|append_attr:"placeholder:Password.."}}
					</div>
				</span>
		</div>

		<div class="card-body ">
				<span class="bmd-form-group">
					<div class="input-group">
						<div class="input-group-prepend">
						<span class="input-group-text">
						<i class="material-icons">lock_outline</i>
						</span>
						</div>
						{{ form.new_password2|add_class:"form-control"|append_attr:"placeholder:Confirm Password.."}}
					</div>
				</span>
		</div>		
				
		<div class="card-footer justify-content-center">
			<button class="btn btn-login btn-link btn-lg">Reset Password</button>
		</div>
			
		<p class="text-center"><a href="{% url 'login' %}" class="fgpass">Take me back!</a></p>

	</div>   
</form>
</div>	
{% endblock %}