{% extends "topics/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container" id="loginbox">
	<div class="row wh_bg">
		<div class="col-sm-6" style="padding:0px;" id="hero">
			<div class="mid-point-right hero-img">
				<center><img src="{% static 'user/img/logo.png' %}" class="img-responsive" width="180px">
				</center>
				<center><img src="{% static 'user/img/login_bg.png' %}" class="img-responsive login-bg vert-move"
						width="400px"></center>
				<h3></h3>
				<p></p>
			</div>
		</div>
		<div class="col-sm-6" style="padding:0px;">
			<div class="mid-point-left" data-aos="fade-left">
				<form class="form" method="POST">
					{% csrf_token %}
				<h2>Forgot Password</h2>
				<p>Confirm your email and we'll send the instructions</p>
				<div class="line"></div>
				
					<div class="row loginform">
						<div class="col-lg-10 col-offset-1">
							<div class="form-group">
								<label for="usr">Email address</label>
								{{ form.email|add_class:"form-control"|append_attr:"placeholder:Type Email Address.."}}
							</div>
						</div>

					</div>
				

				<div class="row">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-info mainbutton">Get Verification Link</button>
					</div>
				</div>
				<p></p>
				<p></p>
				</form>
				<p class="text-center"><a href="{% url 'login' %}" class="fgpass">Take me back!</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}