/**
* Template Name: Ninestars - v2.0.0
* Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif !important;
  background-color:#efeefd !important;
}
html, body {
    height: 100%;
}

a {
  color: #007bff;
}

a:hover {
  color: #0b6bd3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #eb5d1e;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #ee7843;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
Login screen:
--------------------------------------------------------------*/
#loginbox{
padding-top:2%;
}

#loginbox .wh_bg{
background-color:#fff;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#loginbox .mid-point-right{
background: rgb(106,55,254);
background: linear-gradient(132deg, rgba(106,55,254,1) 0%, rgba(156,148,250,1) 100%);
padding:4%;
}

img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#loginbox .mid-point-right .login-bg{
margin:2% 0px;
}

#loginbox .mid-point-right h3{
text-align: center;
color:#fff;
font-size: 18px;
font-weight:500;
line-height:24px;
}

#loginbox .mid-point-right p{
text-align: center;
color:#fff;
font-size: 14px;
font-weight:400;
line-height: 18px;
}

#loginbox .mid-point-left{
padding:6% 8%;
}

#loginbox .mid-point-left h2{
color:#6d3dfe;
font-weight: 200;
font-size: 42px;
line-height: 50px;
}

#loginbox .mid-point-left p{
text-align: left;
color:#787878;
font-size: 14px;
font-weight:400;
line-height: 18px;
}

#loginbox .mid-point-left .line{
background-color:#dddcef;
width:122px;
height:4px;
border-radius: 100px;
}

#loginbox .mid-point-left {
padding-top:6%;
}

#loginbox .mid-point-left .loginform{
padding-top:10%;
}

#loginbox .mid-point-left label{
font-size: 14px !important;
color:#000 !important;
font-weight: 400 !important;
}

#loginbox .mid-point-left .fg_pass a{
text-align: left;
color:#787878;
font-size: 13px;
font-weight: 400;
line-height: 18px;
margin-left: 5px !important;
text-decoration: none;
}

.form-control::placeholder {
color:#d9d8e9 !important;
opacity: 1 !important;;
font-size:12px !important;
}

.form-control {
display: block !important;
width: 100% !important;
height: 40px !important;
padding: .375rem .75rem !important;
font-size: 13px !important;
font-weight: 400 !important;
line-height: 1.5 !important;
color: 
#000 !important;
background-color: #efeefd !important;
background-clip: padding-box !important;
border: none !important;
border-radius: 4px !important;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
box-shadow: none !important;
}




.form-control:focus{
box-shadow:none !important;
} 

#loginbox .btn-primary{
background-color:#6e3efe;
border:none !important;
margin-top:30px
}
#loginbox .btn-primary:hover{
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#loginbox .btn-primary:focus{
box-shadow:none !important;
}


/*--------------------------------------------------------------
Navbar
--------------------------------------------------------------*/
.navbar-inverse {
background-color:#6a37fe !important;
border-color:none !important;
}

.navbar{
border:none !important;
}

.navbar-nav > li > a {
padding: 20px 5px !important;
}

.navbar-brand {
float: left !important;
height: auto !important;
padding: 5px 5px !important;
font-size: 18px !important;
line-height: 20px !important;
}

.navbar-brand > img {
display: block;
width: 120px !important;
}

.navbar .btn-default{
background-color:#7a4ffb;
border: 1px solid #7a4ffb !important;
color:#fff;
font-size: 13px;
padding: 8px 14px;}

.navbar .btn-default:hover {
background-color: #7a4ffb;
border: 1px solid
#7a4ffb !important;
color:
#fff;
font-size: 13px;
padding: 8px 14px;
}

.navbar-inverse .navbar-nav > li > a {
color:#fff !important;
}

.active .btn-default{
background-color:transparent;
border: 1px solid #fff !important;
}



.modallink{
color:#6A37FE;
font-size: 14px !important;
}

.profile{
font-size: 24px !important;
color:#fff !important;
margin-top: 5px;
margin-left: 12px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
color: #fff;
background-color:#7a4ffb !important;
}

.dropdown-menu > li > a {
display: block;
padding: 8px 20px !important;;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #000;
white-space: nowrap;
font-size: 13px !important;;
}

.dropdown-menu > li > a .fa{
color:#6A37FE;
margin-right:5px;
}


/*--------------------------------------------------------------
# main page
--------------------------------------------------------------*/
#st_page{
margin-top: 50px !important;
padding-top: 60px;
padding-bottom: 25px;
}

#st_page .mn_bx{
background-color:#fff;
border-radius:6px;
box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.01);
padding-top: 8px;
padding-bottom: 30px;
}

#st_page .mn_bx .top_head{
padding:4px 5px;
}

#st_page .mn_bx .top_head img{
width: 38px;
margin-right: 8px;
}

#st_page .mn_bx .top_head h2{
font-size:16px;
line-height:35px;
font-weight: 600;
color:#000;
}

#st_page .mn_bx .top_head label{
color:#000 !important;
font-size: 13px;
font-weight: 400;
line-height: 20px;
}

#st_page .mn_bx .top_head .btn-default {
color: #000;
background-color:#efeefd;
border: none !important;
padding: 10px;
padding-right: 10px;
font-size: 13px;
outline:none !important;
}

#st_page .mn_bx .top_head .btn-default:active{
box-shadow:none !important;
}

.bs-searchbox .form-control{
background-color:#fff !important;
box-shadow: none;
border: 1px solid#6A37FE !important;
color:#000 !important;
font-size:13px !important;
}


#st_page .mn_bx .top_head .form-group{
margin-bottom:0px !important;
}

.col-centered{
    float: none !important;
    margin: 0 auto;
}

#st_page .mn_bx .midpoint{
margin-top:2%;
background-color:#f2f4f9;
border-radius: 10px;
padding: 15px 0px;
}

#st_page .mn_bx .midpoint .btn-primary{
background-color:transparent;
border: 1px solid#6A37FE;
color:#6A37FE !important;
margin-top: 5px;
}

#st_page .mn_bx .midpoint .note{
text-align: center;
font-size: 12px;
color:#000;
line-height: 18px;
}



.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}

#st_page .mn_bx .midpoint .close{
float: right;
font-size: 16px;
font-weight: 700;
color:#fff;
position: relative;
top: 4px;
opacity:1;
}
#st_page .mn_bx .midpoint .close .fa{
background-color:#6A37FE;
width: 30px;
border-radius: 50%;
height: 30px;
line-height: 30px;}

#st_page .mn_bx .midpoint .fileupload-preview{
font-size: 12px;
color:#000;
font-weight: 600;
position: relative;
top: 4px;
}

.mainbutton{
background-color:#6a37fe !important;
border: none !important;
margin: 18px 0px;
color:#fff !important;
}

.mainbutton:hover{
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

footer p{
text-align: center;
margin: 0px;
padding-top: 20px;
font-size: 14px;
color:
#000 !important;
line-height: 18px;}

footer p a{
font-weight: 600;
color:#000 !important;
text-decoration: none;
}

#second_bg{
background-color:#daedfb;
width: 100%;
border-radius:4px;
font-size: 12px !important;
padding: 10px 5px;
}

.next_bx {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top:10px;
  cursor: pointer;
  font-size:12px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.next_bx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top:2;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.next_bx:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.next_bx input:checked ~ .checkmark {
  background-color: #6A37FE;
  box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.next_bx input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.next_bx .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#second_bg .top_head .form-control{
background-color:#fff !important;
border-radius: 0px !important;
box-shadow: none !important;
font-size: 12px !important;
border-top-left-radius:6px !important;
border-bottom-left-radius:6px !important;
}

#second_bg .top_head .input-group-addon{
background-color:#fff !important;
border-radius: 0px !important;
box-shadow: none !important;
font-size: 12px !important;
border-color:#fff !important;
border-top-right-radius:6px !important;
border-bottom-right-radius:6px !important;
}

#result_area {
margin-top: 2%;
background-color:#f2f4f9;
border-radius: 10px;
padding: 15px 0px;
height:450px;
position:relative;
}

.bgimg{
position:absolute;
bottom:0px;
width:100%;
}

.result_area_bg{
background-image:url(../img/chart_bg.png);
background-position:center center;
background-size:cover;
}

.textchart{
text-align:center;
padding-top:10%;
position:relative;
z-index:99999;
}

.uptext{
font-size: 20px;
color:#000;
font-weight: 600;
line-height: 25px;
}

.bttext{
font-size:16px;
color:#6A37FE;
font-weight:400;
line-height:22px;
}

.chart_area{
width:100%;
height:420px;
}

.bottom_select label{
color:#000 !important;
font-size: 13px;
font-weight: 400;
line-height: 20px;
}

.bottom_select .btn-default {
color: #000;
background-color:#efeefd;
border: none !important;
padding: 10px;
padding-right: 10px;
font-size: 13px;
outline:none !important;
}

.bottom_select{
padding-top:10px;
}

.bottom_select .btn-default:hover{
box-shadow:none !important;
background-color:#efeefd !important;
}


#result_area .table-responsive table thead tr{
background-color:#DAEDFB !important;
border: none !important;
box-shadow: none !important;
color:#000 !important;
font-size:13px !important;
}

#result_area .table-responsive table tbody tr td{
color:#000 !important;
font-size: 13px !important;
}

.sm{
width:90px;
}

.hed{
color:#000 !important;
font-size:13px !important;
font-weight:700;
}

.c{text-align:center;}
.l{text-align:left;}
.r{text-align:right;}

.errormsg{
  background-color: #feb5b5;
  padding: 12px;
  width: 98%;
  margin: 0 auto;
      margin-top: 0px;
  margin-top: 0px;
  color: #c91414;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

#myModal .form-control{
background-color:#EFEEFD !important;
border-radius: 0px !important;
box-shadow: none !important;
font-size: 12px !important;
border-top-left-radius:6px !important;
border-bottom-left-radius:6px !important;
}

#myModal .input-group-addon{
background-color:#EFEEFD !important;
border-radius: 0px !important;
box-shadow: none !important;
font-size: 12px !important;
border-color:#EFEEFD !important;
border-top-right-radius:6px !important;
border-bottom-right-radius:6px !important;
}

#myModal .btn-default {
color: #000;
background-color:#efeefd;
border: none !important;
padding: 10px;
padding-right: 10px;
font-size: 13px;
outline:none !important;
}

#myModal .btn-default:active{
box-shadow:none !important;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


