body, html{
	font-family: 'Raleway', sans-serif !important; 
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #18d26e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:4px;
  background:rgba(0,0,0,0.5);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


#midportion{
	padding:20px 10px;
}

#midportion .input-group{
	width:100%;
	position:relative;
}

#midportion .input-group .fa{
position: absolute;
bottom: 10px;
z-index: +9999;
right: 8px;
font-size: 16px;
}

#midportion .form-control{
background-color: #fff;
border: none;
border-bottom: 2px solid #0072FF;
}



.bglog{
background-image: url(../image/loginbg.jpg);
background-size: cover;
background-position: top right;
background-repeat: no-repeat;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: +9999999999999;
background:url(../image/loader.gif) center no-repeat #fff;
}

#log{
	padding:6% 0%;;
}
#log .loginbx{
background-color:#ffffff;
border-radius:6px;
width:30%;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
padding: 30px 14px;
}

#log .loginbx .btn-info{
background-color: #0072FF;
width: 166px;
border-radius: 6px !important;
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.dec{font-size: 12px;
color: #172F49;
letter-spacing: 2px;
margin-top: 7px;
margin-bottom: 30px;}


h1{
font-weight:400 !important;
font-size: 25px !important;
}

.sidebar-menu .la{
font-size:22px;
margin-right:4px;
position: relative;
top: 5px;
}


.navbar-nav > li > a {
    line-height: 20px;
    
}

.navbar-nav > li > a .la{
	font-size: 24px;
}

.main-header .navbar .nav > li > a > .label {
position: absolute;
top: 12px !important;
right: 9px !important;
}

.main-header .navbar .nav > li > a > .label .fa{
	color:#f00;
}


#heading h1{
margin: 0px;
padding-bottom: 24px;
color: #0072ff;
}

.hr_line{    
border-top: 1px solid #b5b5b5;
margin-top: 0px;
margin-bottom: 15px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
border: 1px solid transparent !important;}

.rg{
	position:relative;
	top:15px;
	font-size: 13px;
}

.midportion{
padding: 20px;
margin: 10px 0px;	
}

.midportion ul li{
font-size: 14px;
line-height: 23px;
text-align: justify;
font-weight: 400;	
margin-bottom: 10px;
}
.midportion ul li span{
	font-weight:600;
}

.midportion tr th{
font-size: 15px !important;
font-weight: 600;
color: #0072FF;
}

.midportion tr td{
font-size: 14px !important;
font-weight: 400;
color: #000;
}

.midportion .table > tbody > tr > th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #0072FF;
	border-top:none !important;
}

.midportion .table .bottom > th{
border-top: 2px solid #d2d2d2 !important;
border-bottom:none !important;
}

.midportion .table .subh > td{
font-weight:600;
}

.midportion .table > tbody > tr > td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #e2e2e2;
	border-top:none !important;
}

.midportion .label-success, .modal-success .modal-body {
    background-color: #00A65A !important;
}

.midportion h3{
font-size: 16px !important;
font-weight: 600;
letter-spacing: 1px;
color: #000;
margin-bottom:8px;	
}

.note{
color: #474749;
font-size:13px;
padding:10px 0px;
}

.midportion h3 .fa{
	
}


ul#fundsbox {
    min-width: 100%;
    list-style: outside none none;
    text-align: center !important;
    margin: 0;
    padding:12px 0px;
}

ul#fundsbox li {
display: inline-block;
width: 19.7%;
vertical-align: top;
text-align: center;
padding:20px 0px;
border-radius: 4px;

}
ul#fundsbox li p{
font-size: 13px;
color: #fff;
line-height: 18px;	
}
ul#fundsbox li h4{
font-size: 26px;
font-weight: 600;
line-height: 30px;
color: #ffffff;	
}

ul#fundsbox .gr1{
	background-color:#62b839;
}

ul#fundsbox .gr2{
	background-color:#55a62f;
}

ul#fundsbox .gr3{
	background-color:#489126;
}

ul#fundsbox .gr4{
	background-color:#37741a;
}

/*-----------------------------------------------------------*/
ul#fundsboxsix {
    min-width: 100%;
    list-style: outside none none;
    text-align: center !important;
    margin: 0;
    padding:12px 0px;
}

ul#fundsboxsix li {
display: inline-block;
width:16.3%;
vertical-align: top;
text-align: center;
padding:20px 0px;
border-radius: 4px;

}
ul#fundsboxsix li p{
font-size: 13px;
color: #fff;
line-height: 18px;	
}
ul#fundsboxsix li h4{
font-size: 26px;
font-weight: 600;
line-height: 30px;
color: #ffffff;	
}

ul#fundsboxsix .gr1{
	background-color:#62b839;
}

ul#fundsboxsix .gr2{
	background-color:#55a62f;
}

ul#fundsboxsix .gr3{
	background-color:#489126;
}

ul#fundsboxsix .gr4{
	background-color:#37741a;
}

.midportion .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
border: none;
border-radius: 0;
padding: 12px 12px;
height: 46px;
border-bottom: 2px solid #0072FF;
font-size: 13px;
}





@media (max-width:1260px) {
ul#fundsbox li {width:19.6%;}
}


@media (max-width:1170px) {
ul#fundsboxsix li {width:16.2%;}
#log .loginbx{
width:40%;
padding: 30px 14px;
}
}






@media (max-width:1100px) {
ul#fundsboxsix li {width:16.2%;}
}







@media (max-width:900px) {
ul#fundsbox li {width:19.4%;}
}

@media (max-width:850px) {
ul#fundsboxsix li {width:32.2%;}
}

@media (max-width: 767px) {
ul#fundsbox li {width: 32%;}
#log .loginbx{
width:50%;
padding: 30px 14px;
margin:0 auto;
}
.table-responsive{
	border:none !important;
}
.nav-tabs-custom > .tab-content{
	padding:0px !important;
}
}

@media (max-width: 600px) {
ul#fundsbox li {width: 49%;}
ul#fundsbox li:nth-child(5){width: 100%;}
#log .loginbx{width:60%;}
.midportion {
padding: 2px;
margin: 5px 0px;
}
}

@media (max-width:450px) {
ul#fundsboxsix li {width:49%;}
ul#fundsboxsix li p {font-size:11px;}
#log .loginbx{width:90%;}
}

@media (max-width: 400px) {
ul#fundsbox li {width: 49%;}
}
