/* Top_BOX */
.light_blue_shedo{
	    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 162, 245, 0.59);
}
.purple_shedo{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(167, 104, 243, 0.57);
}
.red_shedo{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 81, 138, 0.6);
}
.homepage_fl_right {
    float: right;
    min-width: 92px;
    text-align: right;
}
.bg_shedo_light{
	    box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 162, 245, 0.59);
}
.bg_shedo_light_green{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(52, 191, 163, 0.52);
}
.bg_shedo_light_red{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 81, 138, 0.6);
}
.bg_shedo_light_yellow{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(234, 196, 89, 0.57);
}
.homepage_fl_right h4 {
    font-size:12px;
    color: #4d5b61;
    font-weight: 400;
   margin-bottom: 9px;
}
.homepage_fl_right h3 {
    font-size: 22px;
    color: #2e2e3a;
    font-weight: 500;
    margin: 0px;
}
.homepage_single p {
    padding-top:15px;
    font-size: 12px;
    color: #999999;
    border-top: 1px solid #f2f2f2;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}
span.fl_right {
    float: right;
    color: #36a2f5;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.f24 {
    font-size: 24px !important;
	color:#ffffff;
}
