/*Table Content
 =================================================
 - GLOBLE STYLE
 - Padding and Margin Style
 - BASIC STYLE
 - Header
 - USer_DropDown
 - small_Header_side_bar
 - Side_bar
 - Right_side
 - breadcrumb
 - CHART_BOX
 - social-box
 - Footer
 - BUTTONS_PAGE
 - portlet-advanced_page
 - ICON_FONT_AWESOME
 - WIDGETS_BASE
 - WIDGETS_CHART
 - CALENDAR_BASIC
 - CALENDAR_EXTERNAL_EVENTS
 - CALENDAR_LIST
 - FORM_BASIC_INPUT
 - FORM_INPUT_GROUP
 - FORM_CHECKBOX_RADIO
 - FORM_VALIDATION_BASIC
 - form-wizard
 - Login_Register_Page
 - 404
 - Profile_page

 ================================================
 */
/***********************************************************************
 GLOBLE STYLE
 ***********************************************************************/


/*  Padding and Margin Style   ||-----------*/
.padding {
	padding-top: 90px;
	padding-bottom: 90px;
}

.ptb-20 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.padding-20 {
	padding: 20px;
}

.padding-30 {
	padding: 30px;
}

.padding-40 {
	padding: 40px;
}

.padding-60 {
	padding: 60px;
}

.plr-0 {
	padding-left: 0;
	padding-right: 0;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pr-30 {
	padding-right: 30px;
}

.pl-70 {
	padding-left: 70px;
}

.pr-70 {
	padding-right: 70px;
}

.plr-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.ptb-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}

.pt-0 {
	padding-top: 0px;
}

.pb-0 {
	padding-bottom: 0px;
}

.pt-30 {
	padding-top: 30px;
}

.pb-30 {
	padding-bottom: 30px;
}

.ptb {
	padding-top: 80px;
	padding-bottom: 80px;
}

.pt {
	padding-top: 110px;
}

.pb {
	padding-bottom: 110px;
}

.ptb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.pt-15 {
	padding-top: 15px;
}

.pb-15 {
	padding-bottom: 15px;
}

.ptb-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.pt-60 {
	padding-top: 60px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-40 {
	padding-bottom: 40px;
}

.ptb-40 {
	padding-bottom: 40px;
	padding-top: 40px;
}

.ptb-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.pt-80 {
	padding-top: 80px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pt-90 {
	padding-top: 80px;
}

.pb-90 {
	padding-bottom: 80px;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pt-70 {
	padding-top: 70px;
}

.pb-38 {
	padding-bottom: 38px;
}

.mtb-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.mlr-0 {
	margin-left: 0px;
	margin-right: 0px;
}

.mt-0 {
	margin-top: 0px;
}

.mb-0 {
	margin-bottom: 0px;
}

.mb-10 {
	margin-bottom: 10px;
}

.ml-0 {
	margin-left: 0px;
}

.mr-0 {
	margin-right: 0px;
}

.mr-10 {
	margin-right: 10px;
}

.mtb-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mtb-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.mt-60 {
	margin-top: 60px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mtb-45 {
	margin-top: 45px;
	margin-bottom: 45px;
}

.mt-45 {
	margin-top: 45px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mt-40 {
	margin-top: 40px;
}
.mb-40 {
	margin-bottom: 35px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mtb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.ml-15 {
	margin-left: 15px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.ml-30 {
	margin-left: 30px;
}
.mr-30 {
	margin-right: 30px;
}
.mtb-25 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.mt-25 {
	margin-top: 25px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mtb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-10 {
	margin-top: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.mt-up {
	margin-top: -100px;
}
.thumb-sm {
	display: inline-block;
	height: 40px;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0px;
	width: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.up-80 {
		margin-top: 50px;
	}

	.mt-sm-30 {
		margin-top: 30px;
	}

	.mb-sm-30 {
		margin-bottom: 30px;
	}

	.float-none-sm {
		float: none;
	}

	.float-left-sm {
		float: left;
	}

	.float-right-sm {
		float: right;
	}

	.pl-sm-0 {
		padding-left: 0;
	}

	.plr-xs-15 {
		padding-right: 15px;
		padding-left: 15px;
	}

	.padding-sm-25 {
		padding: 25px;
	}
	.d-xs-none {
		display: none;
	}
}

@media (max-width: 767px) {
	.text-xs-left {
		text-align: left;
	}
	.pr-xs-0 {
		padding-right: 0;
	}
	.pl-xs-0 {
		padding-left: 0;
	}
	.pr-xs-0 {
		padding-right: 0;
	}
	.plr-xs-15 {
		padding-right: 15px;
		padding-left: 15px;
	}
	.padding-sm-25 {
		padding: 25px;
	}
	.pb-xs-30 {
		padding-bottom: 30px;
	}
	.pt-xs-60 {
		padding-top: 60px;
	}
	.ptb-xs-40 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.pt-xs-40 {
		padding-top: 40px;
	}
	.pb-xs-40 {
		padding-bottom: 40px;
	}
	.pb-xs-60 {
		padding-bottom: 60px;
	}
	.ptb-xs-60 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.ml-xs-0 {
		margin-left: 0;
	}
	.mtb-xs-0 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.mt-xs-0 {
		margin-top: 0px;
	}
	.mb-xs-0 {
		margin-bottom: 0px;
	}
	.mtb-xs-15 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.mt-xs-10 {
		margin-top: 10px;
	}
	.mt-xs-15 {
		margin-top: 15px;
	}
	.mb-xs-15 {
		margin-bottom: 15px;
	}
	.mtb-xs-30 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.mt-xs-30 {
		margin-top: 30px;
	}
	.mb-xs-30 {
		margin-bottom: 30px;
	}
	.float-none-xs {
		float: none;
	}
	.float-left-xs {
		float: left;
	}
	.float-right-xs {
		float: right;
	}
	.d-xs-none {
		display: none;
	}

}

/*-------------------------------------------------------------------------------------------*/
/* BASIC STYLE    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	padding: 0 !important;
	margin: 0 !important;
	font-family: Poppins, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	color: #53505f;
}

.img-circle {
	border-radius: 50%;
}

.form-control {
	display: block;
	width: 100%;
	height: 39px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	outline: 0 !important;
	box-shadow: none !important;
}

.btn-text {
	background: 0 0;
	border: none;
	border-radius: 2px;
	color: #53505f;
	position: relative;
	height: 36px;
	margin: 0;
	min-width: 64px;
	padding: 0 16px;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
	outline: none;
}

.btn-text:focus {
	outline: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
	background-color: rgba(158, 158, 158, .4);
}

.btn:focus {
	outline: none !important;
	box-shadow: none;
}
.f18 {
	font-size: 18px;
}
/* ===================== */

@media (min-width: 1200px) {
	.container {
		width: 100%;
		max-width: 1350px;
	}
}

.wrapper {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

.wrapper:before, .wrapper:after {
	content: " ";
	display: table;
}

.purple-bgcolor {
	background-color: #673ab7;
}

.blue-bgcolor {
	background-color: #2196F3;
}

.pink {
	background-color: #FF1493;
}

.yellow {
	background-color: #f1c500;
}

.red {
	background-color: #F44336;
}

/* full_Section */
.container_full {
	background: #eaeef3;
	margin-top: 70px;
	position: relative;
}
.content_wrapper {
	margin-left: 270px;
	margin-right: 0px;
	margin-top: 0;
	min-height: 600px;
	padding:0px 0px 0px 0px;
}

.nav_small .content_wrapper {
	margin-left: 85px;
}
@media (max-width: 991px){
	.content_wrapper, .nav_small .content_wrapper{
		margin-left: 0px;
	}
	.container_full{
		margin-top: 140px;
	}
}
/* breadcrumb */
.page_breadc {
	width: 100%;
	display: inline-block;
}
.page-heading {
	padding-top: 20px;
	padding-bottom: 20px;
}
.page-breadcrumb h1 {
	margin: 0;
	color: #000;
}
.breadcrumb_nav {
	margin-bottom: 0;
}
.breadcrumb_nav .breadcrumb {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}
.breadcrumb_nav .breadcrumb li {
	display: inline-block;
	line-height: 1;
	margin: 0px 3px;
	color: #000;
}
.breadcrumb_nav .breadcrumb li a {
	color: #000;
	font-size: 14px;
	text-shadow: none;
	text-decoration: none;
	margin: 0px 3px;
}
.breadcrumb_nav .breadcrumb li.active {
	color: rgba(0, 0, 0, 0.49);
}

/* Site_view_box */
.info_items {
	min-height: 100px;
	background: #fff;
	width: 100%;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
	margin-bottom: 30px;
	padding: 20px 15px;
	overflow: hidden;
}
.bg_green {
	background: #2ed8b6;
}
.bg_yellow {
	background: #FFB64D;
}
.bg_blue {
	background: #4099ff;
}
.bg_pink {
	background: #FF5370;
}
.info_items_icon {
	float: left;
	color: #fff;
	height: 65px;
	width: 65px;
	text-align: center;
	font-size: 30px;
	line-height: 65px;
	margin-right: 20px;
	background: rgba(0, 0, 0, .2);
	border-radius: 100%;
}
.info_item_content {
	width: calc(100% - 90px);
	float: left;
	line-height: normal;
	color: #fff;
}
.info_items_text {
	margin-bottom: 8px;
}
.info_items_text, .progress-description {
	display: block;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 400;
}
.info_items_number {
	font-weight: 300;
	font-size: 21px;
}
.progress-description {
	margin: 0;
}
.info_items .progress, .info_items .progress .progress-bar {
	border-radius: 0;
}
.info_items .progress {
	background: rgba(0, 0, 0, .2);
	margin: 10px 0px;
	height: 3px;
}
.progress {
	border: 0;
	background-image: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0 !important;
	margin: 0;
}
.info_items .progress .progress-bar {
	background: #fff;
}
.info_items .progress, .info_items .progress .progress-bar {
	border-radius: 0;
}

/* CHART_BOX */
.full_chart {
	background: #fff;
}
.full_chart {
	background: #fff;
	box-shadow: none;
	position: relative;
	transition: .5s;
	border: 1px solid #f2f2f2;
	border-radius: 0;
	width: 100%;
}
.card {
	position: relative;
	margin-top: 0px;
	background-color: #ffffff;
	border-radius: 3px;
}
.chart_header {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	padding: 2px;
	color: #3a405b;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	min-height: 40px;
}
.chart_headibg {
	display: inline-block;
	padding: 15px 20px;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.chart_headibg {
		padding: 10px;
	}
}

@media (max-width: 991px) {
	.page-heading {
padding-bottom: 20px;
    padding-top: 0;
	}

}

.tools {
	padding-right: 16px;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 24px;
	line-height: normal;
	vertical-align: middle;
	display: none;
}
.tools .btn-color {
	color: #97a0b3;
	margin-right: 3px;
	font-size: 12px;
	text-decoration: none;
}
.card_chart {
	padding: 10px 24px 14px 24px;
	position: relative;
}

/* social-box */
.social-box {
	min-height: 160px;
	margin-bottom: 30px;
	text-align: center;
	background: #fff;
}
.social-box i {
	display: block;
	font-size: 40px;
	background: #e9ecef;
	line-height: 110px;
}
.social-box.facebook i {
	color: #fff;
	background: #3b5998;
}
.social-box ul {
	list-style: none;
	display: inline-block;
	margin: 7px 0 0;
	padding: 10px;
	width: 100%;
}
.social-box ul li {
	color: #949CA0;
	font-size: 14px;
	font-weight: 700;
	padding: 0 10px 0 0;
	text-align: right;
	display: block;
	float: left;
	width: 50%;
	line-height: 2;
}
.social-box ul li strong {
	display: block;
	font-size: 20px;
	line-height: 1;
}
.social-box ul li span {
	font-size: 14px;
	font-weight: 500;
	color: #949CA0;
	text-transform: uppercase;
}
.social-box ul li:last-child {
	padding-left: 10px;
	padding-right: 0;
	text-align: left;
}
.social-box.twitter i {
	color: #fff;
	background: #00aced;
}
.social-box.linkedin i {
	color: #fff;
	background: #4875b4;
}
.social-box.google-plus i {
	color: #fff;
	background: #d34836;
}
.social-box ul li:first-child {
	border-right: 1px solid #c2cfd6;
}

/* Three_Clumn */
.stats-wrap h2 span {
	float: right;
	color: #ffffff;
	background: #294583;
	font-size: 16px;
	margin: 5px 0 0;
	font-weight: normal;
	padding: 5px;
	border-radius: 2px;
}
.stats-wrap p {
	margin: 10px 0 15px;
	color: #78828B;
	font-size: 14px;
	font-weight: normal;
	background: #f1f1f1;
	padding: 0 9px;
	border-radius: 3px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.stats-wrap p {
		font-size: 13px;
	}
}
.stats-wrap h4 {
	color: #1688EC;
	font-weight: 700 !important;
	margin: 0;
	line-height: 1.8;
}
.stats-wrap h4 span {
	float: right;
	color: #ffffff;
	background: #3C64BB;
	font-size: 12px;
	margin: 0;
	font-weight: normal;
	padding: 5px;
	border-radius: 2px;
}
.list-referrals li p {
	background: transparent;
	margin-bottom: 0px;
	padding: 0px;
}
.events-nest .drak_blue {
	margin: -10px -24px 33px;
	padding: 20px;
	background: #5C9DF5;
	color: #f9f9f9;
	overflow: hidden;
}
.events-nest .drak_blue h1 {
	float: left;
	color: #fff;
	font-weight: lighter;
	position: relative;
	top: -5px;
}
.middle_text {
	float: left;
	margin-left: 10px;
}
.events-nest .drak_blue span {
	font-size: 14px;
	background: rgba(255, 255, 255, 0.15);
	padding: 0px 10px;
	border-radius: 2px;
}

.events-nest .drak_blue p {
	font-weight: lighter;
	font-size: 12px;
	background: transparent;
	color: #f9f9f9;
	margin: 0px;
	padding: 0px;
}

.events-nest ul {
	margin: 0px;
	padding: 0px;
}

.events-nest ul li {
	list-style: none;
}

.events-nest ul li h4 {
	font-size: 13px !important;
	color: #222;
}

.events-nest ul li h4 span {
	float: none;
	background: transparent;
	color: #222;
	font-size: 13px;
}

.events-nest ul li h4 small {
	margin: 0 0 0 5px;
}

.events-nest ul li p i {
	float: right;
	margin: 0 0 0 10px;
	color: #ccc;
	font-size: 15px;
	height: 15px;
	width: 15px;
	line-height: 15px;
}

.stats-wrap .card_chart .events-nest ul li p {
	background: transparent;
}

/* School-timetable */
.school-timetable {
	color: #8c92a3;
}

.school-timetable h5 {
	font-size: 12px;
	color: #454545;
	padding: 2px 5px;
}

.school-timetable h5 i {
	font-style: normal;
}

.school-timetable h6 {
	line-height: 1.7;
	color: #8c92a3;
}

.school-timetable h6 i {
	color: #8c92a3;
}

.school-timetable h6 span {
	font-size: 10px;
	background: #8c92a3;
	padding: 2px 4px;
	margin: 0 0 0 5px;
	color: #fff;
	border-radius: 2px;
}

.school-timetable hr {
	border-color: #D5DAE6;
	margin: 17px 0 16px;
}

.school-timetable ul {
	margin: 0px 0px 13px 0px;
	padding: 0px;
}

.school-timetable ul li {
	display: inline-block;
	list-style: none;
	margin: 0 -5px 0 0;
}

.round_small {
	display: inline-block;
	height: 40px;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0px;
	width: 40px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.round_small {
		display: inline-block;
		height: 35px;
		margin-right: 5px;
		width: 35px;
	}
}

/* Student_table */
.student_table thead tr th {
	border-top: none;
}
.student_table tbody tr td a {
	color: #53505f;
}
.paid_green {
	font-size: 10px;
	font-weight: 600;
	padding: 6px 6px;
	margin-right: 5px;
	background: #59e0c5;
	text-transform: uppercase;
	color: #fff;
}
.unpaid_red {
	font-size: 10px;
	font-weight: 600;
	padding: 6px 6px;
	margin-right: 5px;
	color: #fff;
	background: #ca1b1b
}
.edit_list {
	margin-right: 10px;
}

/* Footer */
.footer {
	background: #fff;
	margin-left: 270px;
}
.nav_small .footer {
	padding-left: 70px;
}
@media (max-width: 767px) {
	.nav_small .footer, .footer {
		padding-left: 0;
	}

}
.copy_right p {
	margin-left:2%;
	color: #222;
	font-size: 14px;
}
.copy_right p a {
	color: #36a2f5;
}
#back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	display: block;
	display: none;
	background: #2a3142;
	color: #fff;
	font-size: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

/*============== BUTTONS_PAGE */
.btn-primary:hover,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled])
:not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	border-color: #8b39ef;
	background-color: #8b39ef;
}
.btn-demo .btn {
	margin: 0 10px 10px 0;
}
[data-toggle=buttons] > .btn input[type=checkbox], [data-toggle=buttons] > .btn input[type=radio], [data-toggle=buttons] > .btn-group > .btn input[type=checkbox], [data-toggle=buttons] > .btn-group > .btn input[type=radio] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}
.btn-outline-primary:hover,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled])
:not(.disabled):active, .btn-primary, .card-primary, .show > .btn-outline-primary.dropdown-toggle {
	border-color: #a768f3;
	background-color: #a768f3;
}
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.btn-dark:not([disabled]):not(.disabled).active,
.btn-dark:not([disabled]):not(.disabled):active,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled]):not(.disabled):active,
.btn-outline-dark:not([disabled]):not(.disabled).active,
.btn-outline-dark:not([disabled]):not(.disabled):active,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled]):not(.disabled):active,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled])
:not(.disabled):active, .show > .btn-danger.dropdown-toggle, .show > .btn-dark.dropdown-toggle, .show > .btn-info.dropdown-toggle, .show > .btn-outline-danger.dropdown-toggle, .show > .btn-outline-dark.dropdown-toggle, .show > .btn-outline-info.dropdown-toggle, .show > .btn-outline-primary.dropdown-toggle, .show > .btn-outline-secondary.dropdown-toggle, .show > .btn-outline-success.dropdown-toggle, .show > .btn-outline-warning.dropdown-toggle, .show > .btn-primary.dropdown-toggle, .show > .btn-secondary.dropdown-toggle, .show > .btn-success.dropdown-toggle, .show > .btn-warning.dropdown-toggle {
	box-shadow: none;
}
.btn-demo .btn {
	margin: 0 10px 10px 0;
}
.btn-outline-success {
	color: #34bfa3;
	border-color: #34bfa3;
}
.btn-sm {
	font-size: 12px;
}
.btn {
	cursor: pointer;
}
.btn-outline-primary {
	color: #a768f3;
	border-color: #a768f3;
}
.btn-outline-primary:hover,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled])
:not(.disabled):active, .btn-primary, .card-primary, .show > .btn-outline-primary.dropdown-toggle {
	border-color: #a768f3;
	background-color: #a768f3;
}
.nav.nav-pills .nav-link.active, .nav.nav-pills.nav-pills-danger .nav-link.active, .nav.nav-pills.nav-pills-info .nav-link.active, .nav.nav-pills.nav-pills-inverse .nav-link.active, .nav.nav-pills.nav-pills-primary .nav-link.active, .nav.nav-pills.nav-pills-success .nav-link.active, .nav.nav-pills.nav-pills-warning .nav-link.active {
	color: #fff;
}
.nav.nav-pills .nav-link, .nav.nav-tabs .nav-link {
	color: #292b2c;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #a768f3;
}
.default-color, .default-color a, h1, h2, h3, h4, h5, h6 {
	color: #53505f;
}
.bg-dark {
	background-color: #343a40 !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled])
:not(.disabled):active, .btn-primary, .card-primary, .show > .btn-outline-primary.dropdown-toggle {
	border-color: #a768f3;
	background-color: #a768f3;
}
.btn-outline-success:hover,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled])
:not(.disabled):active, .btn-success, .card-success, .show > .btn-outline-success.dropdown-toggle {
	border-color: #34bfa3;
	background-color: #34bfa3;
}
.card {
	border: 1px solid #e5e9ec;
}
.btn-info,
.btn-outline-info:hover,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled])
:not(.disabled):active, .card-info, .show > .btn-outline-info.dropdown-toggle {
	border-color: #36a2f5;
	background-color: #36a2f5;
}
.btn-outline-warning:hover,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled])
:not(.disabled):active, .btn-warning, .card-warning, .show > .btn-outline-warning.dropdown-toggle {
	border-color: #eac459;
	background-color: #eac459;
}
.btn-danger,
.btn-outline-danger:hover,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled])
:not(.disabled):active, .card-danger, .show > .btn-outline-danger.dropdown-toggle {
	border-color: #ff518a;
	background-color: #ff518a;
}
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.btn-dark:not([disabled]):not(.disabled).active,
.btn-dark:not([disabled]):not(.disabled):active,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled]):not(.disabled):active,
.btn-outline-dark:not([disabled]):not(.disabled).active,
.btn-outline-dark:not([disabled]):not(.disabled):active,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled]):not(.disabled):active,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled])
:not(.disabled):active, .show > .btn-danger.dropdown-toggle, .show > .btn-dark.dropdown-toggle, .show > .btn-info.dropdown-toggle, .show > .btn-outline-danger.dropdown-toggle, .show > .btn-outline-dark.dropdown-toggle, .show > .btn-outline-info.dropdown-toggle, .show > .btn-outline-primary.dropdown-toggle, .show > .btn-outline-secondary.dropdown-toggle, .show > .btn-outline-success.dropdown-toggle, .show > .btn-outline-warning.dropdown-toggle, .show > .btn-primary.dropdown-toggle, .show > .btn-secondary.dropdown-toggle, .show > .btn-success.dropdown-toggle, .show > .btn-warning.dropdown-toggle {
	box-shadow: none;
}
.btn-info,
.btn-outline-info:hover,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled])
:not(.disabled):active, .card-info, .show > .btn-outline-info.dropdown-toggle {
	border-color: #36a2f5;
	background-color: #36a2f5;
}
.card-body .dropdown .dropdown-menu {
	left: 0 !important;
	right: auto !important;
}
.card-body .dropdown .dropdown-menu:before, .btn-group .dropdown-menu:before {
	display: none !important;
}
.grid-view [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid rgba(86, 61, 124, .2);
	background-color: rgba(86, 61, 124, .15);
}
.grid-view {
	margin-bottom: 10px;
	padding: 0 15px;
}
.card .card-header .card-title {
	margin-bottom: 0;
	color: #53505f;
	font-size: 18px;
	font-weight: 500;
}
.lobicard-custom-icon > .card-header .dropdown, .card-shadow .card-header .dropdown, .lobicard-custom-control .card-header .dropdown {
	display: inline-block;
	float: right;
	position: relative;
}
.lobicard-custom-icon > .card-header .dropdown .tools, .card-shadow .card-header .dropdown .tools, .lobicard-custom-control .card-header .dropdown .tools {
	margin: 0px;
}
.baseline .baseline-list .baseline-info {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.baseline-info {
	border-color: #36a2f5 !important;
}
.baseline-border {
	border-left: 1px solid #e5ebf8;
}
.baseline, .baseline .baseline-list {
	position: relative;
	border-color: #e5ebf8;
}
.baseline .baseline-list {
	padding-bottom: 1px;
}
.baseline, .baseline .baseline-list {
	position: relative;
	border-color: #e5ebf8;
}
.baseline .baseline-list:before {
	display: table;
	content: " ";
}
.baseline .baseline-list:after {
	display: table;
	position: absolute;
	top: 18px;
	left: 0;
	width: 12px;
	height: 12px;
	margin-left: -6px;
	content: "";
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 0 3px #e5ebf8 inset;
}
.badge-success, .bg-success, .nav.nav-pills.nav-pills-success .nav-link.active {
	background-color: #34bfa3 !important;
}
.baseline-primary:after {
	box-shadow: 0 0 0 3px #a768f3 inset !important;
}
.baseline-success:after {
	box-shadow: 0 0 0 3px #34bfa3 inset !important;
}
.baseline-primary {
	border-color: #a768f3 !important;
}
.baseline-success {
	border-color: #34bfa3 !important;
}
.baseline-warning:after {
	box-shadow: 0 0 0 3px #eac459 inset !important;
}
.baseline-info:after {
	box-shadow: 0 0 0 3px #36a2f5 inset !important;
}
.default-color a:hover, .gray-color a:hover, .left-sidebar-light .sidebar-menu ul li ul.sub li a:hover, .left-sidebar-light .sidebar-menu ul li ul.sub li.active a, .notification-list .nt-info a:hover, a.default-color:hover, a.gray-color:hover {
	color: #a768f3;
}

.default-color a, .default-color a:hover, a, a.default-color, a.default-color:hover, a:hover {
	text-decoration: none;
}
.card .card-header {
	padding: 1rem;
	border-bottom: 1px solid #e5e9ec;
	background: #fff;
}
.badge-primary, .bg-primary, .nav.nav-pills.nav-pills-primary .nav-link.active {
	background-color: #a768f3 !important;
}
.baseline-warning {
	border-color: #eac459 !important;
}
.badge-info, .bg-info, .nav.nav-pills.nav-pills-info .nav-link.active {
	background-color: #36a2f5 !important;
}
.badge-danger, .bg-danger, .nav.nav-pills.nav-pills-danger .nav-link.active {
	background-color: #ff518a !important;
}
.badge-warning, .bg-warning, .nav.nav-pills.nav-pills-warning .nav-link.active {
	background-color: #eac459 !important;
}
.badge-inverse, .bg-inverse, .nav.nav-pills.nav-pills-inverse .nav-link.active {
	background-color: #292b2c !important;
}
.portlets-scroll {
	min-height: 101%;
}
.portlets-scroll-wrap {
	overflow-y: scroll;
}
/* portlet-advanced_page */

.nav-pills-sm .nav-link {
	padding: .4em 1em;
	font-size: 12px;
}
.nav-pill-custom .nav-link, .nav-pills-sm .nav-link {
	border-radius: 30px !important;
}

.lobicard-custom-control .card-header .dropdown .tools {
	margin: 0px;
}

.lobicard-custom-control .card-header .dropdown .tools a {
	color: #fff;
}

.border-primary {
	border-color: #a768f3 !important;
}

.card-shadow {
	border: none;
	box-shadow: 0 1px 3px 0px rgba(115, 108, 203, 0.23);
}

/* ICON_FONT_AWESOME */
.fontawesome-icon-list .preview i, .simple-icon-list .preview i, .themify-icon-list .preview i, .weather-icon-box .preview i {
	padding-right: 15px;
	font-size: 18px;
}

.fontawesome-icon-list .preview, .simple-icon-list .preview, .themify-icon-list .preview, .weather-icon-box .preview {
	padding: 15px;
}

.fontawesome-icon-list .preview:hover, .simple-icon-list .preview:hover, .themify-icon-list .preview:hover, .weather-icon-box .preview:hover {
	background: #f2f6f9;
}

.fontawesome-icon-list, .simple-icon-list, .themify-icon-list, .weather-icon-box {
	margin-bottom: 30px;
}

/* WIDGETS_BASE */
.text-primary {
	color: #a768f3 !important;
}

.app-header .d-user span {
	font-size: 12px;
}

.wb-icon-box {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 60px;
	padding: 12px;
}
.task-d-list {
	margin-bottom: 0;
}
.custom-checkbox .custom-control-indicator {
	border-radius: .25rem;
}
.custom-control-indicator {
	position: absolute;
	top: .25rem;
	left: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.task-d-list li:hover .task-list-action {
	opacity: 1;
}
.task-d-list li .task-list-action {
	opacity: 0;
}
.task-d-list li {
	margin-bottom: 14px;
}
.quick-links-grid {
	display: inline-block;
	width: 100%;
}
.quick-links-grid .ql-grid-item {
	display: inherit;
	width: 49.3%;
	padding: 20px 5px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #45567c;
}
.quick-links-grid .ql-grid-item i {
	-webkit-transition: all .3s;
	transition: all .3s;
	text-align: center;
	color: #d2d6eb;
	font-size: 32px;
}
.quick-links-grid .ql-grid-item .ql-grid-title {
	display: block;
	margin: 10px 0 0;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
}
.table-vertical-middle tr td {
	vertical-align: middle;
}
.table td, .table th {
	padding: 0.6 rem 1rem;
}
.border, .table td, .table th {
	border-color: #e5e9ec !important;
}

.table tfoot th, .table thead th {
	vertical-align: bottom;
	border-bottom: none;
}

.table thead th {
	border-top: none;
}

/* WIDGETS_CHART */
.jqvmap-zoomin, .jqvmap-zoomout, .jvectormap-zoomin, .jvectormap-zoomout {
	width: 28px;
	height: 28px;
	cursor: pointer;
	text-align: center;
	color: #545454;
	border: 1px solid #eaeaea;
	border-radius: 0;
	background: #fff;
	line-height: 28px;
}

.jqvmap-zoomin, .jvectormap-zoomin {
	position: absolute;
	z-index: 70;
	top: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.jqvmap-zoomout, .jvectormap-zoomout {
	position: absolute;
	z-index: 70;
	top: 0;
	left: 27px;
}

.vmap-wrap {
	position: relative;
	width: 100%;
	height: 250px;
	margin-top: 20px;
}