.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #84CA20 !important;
    padding: 10px 0px !important;
}

.dataTables_length select{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #84CA20 !important;
    padding: 10px 0px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: none !important;
    background-color: #84CA20 !important;
    background-image: none !important;
    font-weight: 700 !important;
    border-radius: 4px !important;
}

/* Override sorting header --> DataTable Bug */
.dataTables_scrollBody > table > thead > tr {
    visibility: collapse;
    height: 0px !important;
}

/* Override div tag for buttons --> Datatable*/
div.dt-buttons {
    position: relative;
    float: right;
}
