/* CSS Styling for slider in Pending Reports */
.switchPending {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchPending input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderPending {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderPending:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.sliderPending {
  background-color: #2196F3;
}

input:focus+.sliderPending {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.sliderPending:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderPending.round {
  border-radius: 34px;
}

.sliderPending.round:before {
  border-radius: 50%;
}

/* Slider CSS end */


.bglog {
    background-image:url(../image/loginbg.jpg);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}


.abc{width: 100% !important;}

.select2{width: 100% !important;}




#log{
	padding:3% 0%;;
}
#log .loginbx{
background-color:#ffffff;
border-radius:6px;
width:30%;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
padding: 30px 14px;
}

#log .loginbx .btn-info{
background-color: #0072FF;
width: auto;
border-radius: 5px !important;
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
border: none;
padding: 10px 40px;
margin-top: 50px;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 2px;
}

.dec{font-size: 12px;
color: #172F49;
letter-spacing: 2px;
margin-top: 7px;
margin-bottom: 30px;
text-align: center;
}

.dec1{font-size: 15px;
color: #172F49;
letter-spacing: 1px;
background-color: #F2F3F5;
font-weight: 400;
padding: 8px 0px;
border-radius: 20px;
-webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
text-align: center;
}

.chart_bx{
position: relative;
margin-bottom: 10px;
background-color: #ffffff;
border-radius: 3px;
box-shadow: 0 1px 3px 0px rgba(115, 108, 203, 0.23);
padding: 20px 7px;
}

.loginnew input{
background-color: #fff;
width: 100%;
border: none;
border-bottom: 2px solid #d2d2d2 !important;
font-size: 18px;
font-weight: 300;
text-align: center;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.loginnew .forgot{
font-size: 12px;
color: #172F49;
text-decoration: none;
letter-spacing: 1px;
font-weight: 400;
}
.loginnew .forgot:hover{
color: #0072FF;
}

.loginnew input:focus{
border-bottom: 2px solid #0072FF !important;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;	
}

.pro_img{
width: 150px;
border: 6px solid #EAEEF3;
-webkit-box-shadow: 2px 4px 13px -4px rgba(0,0,0,0.67);
-moz-box-shadow: 2px 4px 13px -4px rgba(0,0,0,0.67);
box-shadow: 2px 4px 13px -4px rgba(0,0,0,0.67);
}

.profileimg{
width: 160px;
margin: 0 auto;
position: relative;
}

.profileimg a{
	display:none;
}

.uploadimg{
position: absolute;
bottom: 13px;
width: 50px;
height: 65px;
overflow: hidden;
left: 38%;
opacity: 0;	
}

.cameraicon{
position: absolute;
bottom: 12px;
font-size: 25px !important;
left: 45%;
color: #fff;
}

#timesheet .form-control{
border: none;
border-bottom-color: currentcolor;
border-bottom-style: none;
border-bottom-width: medium;
border-bottom: 2px solid #d2d2d2;
height: 50px;
background-color:transparent;
}

#timesheet .form-control:hover{
border-bottom: 2px solid #0072FF;	
}

#timesheet .form-control:focus{
border-bottom: 2px solid #0072FF;	
}

#timesheet .form-control:active{
border-bottom: 2px solid #0072FF;	
}

#timesheet .input-group-addon{
border: none;
background-color:transparent;
color: #FFF	
}

#timesheet .form-group .fa{
color:#ffffff;	
font-size:24px;
margin-right:5px;
}

#timesheet .ft{
font-size: 30px;
font-weight: 300;
color:#ffffff;
}

.datebg .dt{
padding: 0px;
margin: 0px;
text-align: center;
border: none;
background:transparent;
font-size: 30px;
font-weight: 300;
color: #fff;
border-bottom: 2px solid #fff;
border-radius: 0px;
text-align: center !important;
outline: none;
}

.midcont .dd_input{
background-color: #fff;
width: 100%;
height: 35px;
border-bottom: 2px solid #0072FF !important;
padding: 5px;
color: #000;
font-size: 16px;
background: transparent;
-webkit-appearance: none;
border: none;
outline:none !important;
}

.midcont .dd_input:select{
background-color: #f00;	
}


ul#add_cancel {
    min-width: 100%;
    list-style: outside none none;
    text-align: center !important;
    margin: 0;
    padding: 0;
}
ul#add_cancel li {
display: inline-block;
width:auto;
padding: 0px 6px;
vertical-align: middle;
font-size: 25px;
}
ul#add_cancel li .btn-success{
    font-size: 14px;
    padding: 7px 36px;
    border: none !important;
    border-radius: 80px;
    font-weight: 800;
    background-color: #0071FF !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.errormsg{
    background-color: #feb5b5;
    padding: 12px;
    width: 98%;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 0px;
    color: #c91414;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}


#timesheet label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 400;
}

#tabs .nav-tabs-custom > .nav-tabs > li{
border:none;
padding: 10px 4px;	
}
#tabs .nav-tabs-custom > .nav-tabs > li > a{
background: #EAEEF3;
margin: 0;
width: 130px;
text-align: center;
font-size: 12px;
padding: 3px 0px;
border-radius: 51px;
border:none;
transition: background-color 0.5s ease;	
}

#tabs .nav-tabs-custom > .nav-tabs > li > a:hover{
background: #0072FF;	
color:#ffffff;
transition: background-color 0.5s ease;
}


#tabs .nav-tabs-custom > .nav-tabs > li.active a {
background-color: #0072FF !important;
color:#ffffff;
transition: background-color 0.5s ease;
}
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none !important;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

.datebg{
background-color: #012858;
background-size: cover !important;
background-position: bottom center;
}

.control-sidebar .downloadexcel{
color: #fff;
font-size: 13px;
line-height: 26px !important;	
}

.control-sidebar .downloadexcel .fa{
font-size: 16px;
color: #94c737;
margin-right: 10px;
}

.midlog{
	text-align:center;
}

.midlog h5{
color: #fff;
font-size: 17px !important;
line-height: 24px;	
}

.midlog h2{
margin: 0px;
padding: 0px;
font-size: 50px;
font-weight: 300;
line-height: 60px;
color:#ffffff;	
}

.midlog .blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: #fff;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #fff;	}
}






















@media (max-width:1170px) {
#log .loginbx{width:40%;padding: 30px 14px;}
}


@media (max-width: 767px) {
#log .loginbx{width:50%;padding: 30px 14px;margin:0 auto;}
}


@media (max-width: 600px) {
#log .loginbx{width:60%;}
}


@media (max-width:450px) {
#log .loginbx{width:90%;}
}

