{% load static %}
{% load i18n %}

{% block extrahead %} {# Embeds Extra Resources #}
{% endblock %} {# Ends Extra Resources #}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hedera Consensus</title>
  <!-- Tell the browser to be responsive to screen width -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'topics/asset/image/favicon.ico' %}">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/timesheet.css' %}">
  <link rel="stylesheet" href="{% static 'topics/asset/hover.css' %}">
  <link rel="stylesheet" href="{% static 'topics/asset/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'topics/asset/css/index.css' %}">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'topics/asset/css/font-awesome-animation.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/Ionicons/css/ionicons.min.css' %}">
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/daterangepicker.css' %}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/bootstrap-datepicker.min.css' %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'topics/asset/plugins/iCheck/all.css' %}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/bootstrap-colorpicker.min.css' %}">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{% static 'topics/asset/plugins/timepicker/bootstrap-timepicker.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'topics/asset/css/select2.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'topics/asset/dist/css/AdminLTE.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'topics/asset/dist/css/skins/_all-skins.css' %}">
  <link rel="stylesheet" href="{% static 'topics/asset/css/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'topics/asset/css/timesheet_datatable.css' %}">

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="skin-blue sidebar-mini fixed sidebar-mini-expand-feature" style="height: auto; min-height: 100%;">
  <div class="wrapper">
    
    

    <div class="content-wrapper" id="timesheet">
      <!-------content-wrapper---------->
      <section class="content">

        <!--Key Indicators-->

        {% block content %}{% endblock %}

      </section>
      <!-------/content---------->
    </div>
    <!-- /.tab-content -->
  </div>



  {% now "Y" as current_year %}
  {% blocktrans %}
  <footer class="main-footer">
    Copyright &copy; {{ current_year }} <a href="http://decimalpointanalytics.com/" target="_blank">Decimal Point
      Analytics Pvt Ltd.</a>
    All rights
    reserved.
    <span class="pull-right" style="color:#008080; font-size:12px;">Version 0.9.10</span>
  </footer>
  {% endblocktrans %}

  <!-- ./wrapper -->

  <!-- jQuery 3 -->
  <script src="{% static 'topics/asset/js/jquery.min.js' %}"></script>
  <script src="{% static 'topics/asset/js/current_nav_selection.js'%}"></script>
  <script src="{% static 'topics/asset/js/toggle_pending.js'%}"></script>
  <!--Script for datatables-->
  

  <script type="text/javascript">
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover({
        placement: 'bottom',
        trigger: 'hover'
      });
    });
  </script>

  <!-- jQuery UI 1.11.4 -->
  <script src="{% static 'topics/asset/js/jquery-ui.min.js' %}"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="{% static 'topics/asset/js/bootstrap.min.js' %}"></script>
  <!-- Select2 -->
  <script src="{% static 'topics/asset/js/select2.full.min.js' %}"></script>
  <!-- InputMask -->
  <script src="{% static 'topics/asset/plugins/input-mask/jquery.inputmask.js' %}"></script>
  <script src="{% static 'topics/asset/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
  <script src="{% static 'topics/asset/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
  <!-- Sparkline -->
  <script src="{% static 'topics/asset/js/jquery.sparkline.min.js' %}"></script>
  <!-- jvectormap -->
  <script src="{% static 'topics/asset/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
  <script src="{% static 'topics/asset/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <!-- jQuery Knob Chart -->
  <script src="{% static 'topics/asset/js/jquery.knob.min.js' %}"></script>
  <!-- date-range-picker -->
  <script src="{% static 'topics/asset/js/moment.min.js' %}"></script>
  <script src="{% static 'topics/asset/js/daterangepicker.js' %}"></script>
  <!-- bootstrap datepicker -->
  <script src="{% static 'topics/asset/js/bootstrap-datepicker.min.js' %}"></script>
  <!-- bootstrap color picker -->
  <script src="{% static 'topics/asset/js/bootstrap-colorpicker.min.js' %}"></script>
  <!-- bootstrap time picker -->
  <script src="{% static 'topics/asset/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
  <!-- Bootstrap WYSIHTML5 -->
  <script src="{% static 'topics/asset/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
  <!-- SlimScroll -->
  <script src="{% static 'topics/asset/js/jquery.slimscroll.min.js' %}"></script>
  <!-- iCheck 1.0.1 -->
  <script src="{% static 'topics/asset/plugins/iCheck/icheck.min.js' %}"></script>
  <!-- FastClick -->
  <script src="{% static 'topics/asset/js/fastclick.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'topics/asset/dist/js/adminlte.min.js' %}"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="{% static 'topics/asset/dist/js/pages/dashboard.js' %}"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{% static 'topics/asset/dist/js/demo.js' %}"></script>

  <script type="text/javascript" src="{% static 'topics/asset/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'topics/asset/js/custom.js' %}" type="text/javascript"></script>
  <!-- <script src="{% static 'topics/asset/js/require.js' %}" type="text/javascript"></script> -->
  
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()
    })      
  </script>


</body>

</html>