{% extends "topics/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="{% static 'topics/asset/js/hedera/bundle.js' %}"></script>
<div>
    <form id="request_form" method="POST">
        {% csrf_token %}
        <div class="newmidpoint">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Topic ID</label>
                            {{form.topic_id|add_class:"form-control"|append_attr:"placeholder: Topic ID" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newmidpointa">
            <div class="row">
                <div class="col-md-12">
                    <div style="padding: 12px;" class="form-group" style="padding-right: 50px;">
                        {{ form.topic_memo|add_class:"form-control"|append_attr:"placeholder: Enter a Memo"|attr:"rows:10 cols:15"}}
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="exampleInputEmail1"></label>
                    <div style="padding: 12px;" class="form-group" style="padding-right: 50px;">
                        {{form.topic_name|add_class:"form-control "|append_attr:"placeholder: Company Name" }}
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-top: 2px;margin-bottom: 2px;">

        <div class="row" style="padding:20px 10px;">
            <div class="col-xs-12">
                <p class="note">Note</p>
                <p class="notepoint">If you have existing topic enter the topic number</p>
                <p class="notepoint">Click ON generate new topic to create a new topic</p>
                </p>
            </div>
        </div>

        <hr style="margin-top: 2px;margin-bottom: 2px;">

        <div class="row  row-centered" style="padding:20px 10px;">
            <div class="col-xs-2 col-centered">
                <center><button id="createMessage" type="submit" class="btn btn-block btn-warning">Add Message</button>
                </center>
            </div>

        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#id_topic_memo').prop('disabled', true);
        $("#id_topic_id").change(function () {
            
            topic = $("#id_topic_id").val();
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: {},
                url: "{% url 'get_memo' 0 %}".replace(0, topic),
                success: function (data) {
                    $("#id_topic_memo").val(data)
                },
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        topic = $("#id_topic_id").val();
        $("#createMessage").click(function (e) {
            e.preventDefault();
            message = $("#id_topic_name").val();
            $.ajax({
                type: "POST",
                async: false,
                data: {
                    "topicId": topic,
                    "message": message,
                },
                url: "http://192.168.2.211:3000/consensus/create-message/",
                success: function (data) {
                    console.log(data)
                },
                error: function (err) {
                    console.log(" ")
                }
            });
        });
    })
</script>

{% endblock %}