{% extends "topics/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

<div>
    <form id="request_form" method="POST">
        {% csrf_token %}
        <div class="newmidpoint">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Shard</label>
                            {{form.shard_id|add_class:"form-control" }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Realm</label>
                            {{form.realm_id|add_class:"form-control" }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Topic ID</label>
                            {{form.topic_id|add_class:"form-control"|append_attr:"placeholder: Topic ID" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newmidpointa">
            <div class="row">
                <div class="col-md-12">
                    <div style="padding: 12px;" class="form-group" style="padding-right: 50px;">
                        {{form.topic_name|add_class:"form-control "|append_attr:"placeholder: Name" }}
                    </div>
                </div>

                <div class="col-md-12">
                    <div style="padding: 12px;" class="form-group" style="padding-right: 50px;">
                        {{ form.topic_memo|add_class:"form-control"|append_attr:"placeholder: Enter a Memo"|attr:"rows:10 cols:15"}}
                    </div>
                </div>
            </div>
        </div>


        <hr style="margin-top: 2px;margin-bottom: 2px;">

        <div class="row" style="padding:20px 10px;">
            <div class="col-xs-12">
                <p class="note">Note</p>
                <p class="notepoint">If you have existing topic enter the topic number</p>
                <p class="notepoint">Click ON generate new topic to create a new topic</p>
                </p>
            </div>
        </div>

        <hr style="margin-top: 2px;margin-bottom: 2px;">

        <div class="row  row-centered" style="padding:20px 10px;">
            <div class="col-xs-2 col-centered">
                <center><button id="generateTopic" type="submit" class="btn btn-block btn-warning">Create a New Topic
                        ID</button></center>
            </div>
            <div class="col-xs-2 col-centered">
                <center><button id="getTopic" type="submit" class="btn btn-block btn-warning">Get Topic Details</button>
                </center>
            </div>
            <div class="col-xs-2 col-centered">
                <center><button id="setTopic" type="submit" class="btn btn-block btn-warning" hidden>Get Topic
                        Details</button>
                </center>
            </div>

        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#setTopic").hide();

        $("#generateTopic").click(function (e) {
            e.preventDefault();
            if ($("#id_topic_memo").val()) {
                topicId = generateTopic();
                // console.log(topicId)
                $("#setTopic").show();
            }
            else {
                alert("please enter a Memo")
            }

        });
        $("#getTopic").click(function (e) {

            e.preventDefault();
        });
        $("#setTopic").click(function (e) {
            topicId = $("#id_topic_id").val();

            setTopic(topicId)
        });
    });
</script>
<script src="{% static 'topics/asset/js/hedera/dotenv_bundle.js'%}"></script>
<script src="{% static 'topics/asset/js/hedera/client_bundle.js'%}"></script>
{% endblock %}