{% extends "topics/base.html" %}
{% load static %}
{% block content %}

<a href="{% url 'create_topics' %}">Create a Topic</a>
<br>
<a href="{% url 'create_message' %}">Add a Message</a>

{% endblock %}